@{
    ViewBag.Title = "Index";
    var userId = Session["userId"] == null ? null : Session["userId"].ToString();
    var userType = Session["userType"] == null ? null : Session["userType"].ToString();
    var imagePath = ViewData["ImagePath"] == null ? null : ViewBag["ImagePath"];
    var nickName = ViewData["NickName"] == null ? null : ViewBag["NickName"];
}
<head>
   <meta charset="utf-8">
   
   <meta name="renderer" content="webkit">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="~/layui/css/layui.css" media="all">
        <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<script src="~/layui/layui.js" charset="utf-8"></script>
<div class="navigation">
    <div class="header">
        <img src="~/Image/Logo.png" class="logo">
    </div>
    <div class="login">
        <button type="button" class="layui-btn layui-btn-normal">登录</button>
    </div>
    <div class="register">
        <button type="button" class="layui-btn layui-btn-warm">注册</button>
    </div>

</div>
<div class="frame-bg">
    <div class="frame">
        <div class="layui-carousel" id="test1" lay-filter="test1">
            <div carousel-item="">
                <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                <div class="imgStyle"><img src="~/Image/3.jpg" alt="Alternate Text" /></div>
                <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
            </div>
        </div>
    </div>
</div>

<div class="notice">
    <fieldset class="layui-elem-field">
        <legend>公告</legend>
        <div class="layui-field-box">
            <div style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">公告1</div>
                            <div class="layui-card-body">
                                啊实打实大师大哥是四大孤独鳏寡拿木拿伞代码报告妈宝男
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">公告2</div>
                            <div class="layui-card-body">
                                十九大喝咖啡吉安康师傅工行付技术复核·傅工行付技术复核·
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moreNotice">
                <button type="button" class="layui-btn layui-btn-xs">更多</button>
            </div>
        </div>
    </fieldset>
</div>


<div class="footer">
    <fieldset class="layui-elem-field">
        <legend>竞赛相关</legend>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">往期赛事</li>
                <li>正在进行</li>
                <li>即将开始</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="frame-bg2">
                        <div class="frame2">
                            <div class="layui-carousel" id="test2" lay-filter="test2">
                                <div carousel-item="">
                                    <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/3.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="frame-bg2">
                        <div class="frame2">
                            <div class="layui-carousel" id="test3" lay-filter="test2">
                                <div carousel-item="">
                                    <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/3.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="frame-bg2">
                        <div class="frame2">
                            <div class="layui-carousel" id="test4" lay-filter="test2">
                                <div carousel-item="">
                                    <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/3.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/2.jpg" alt="Alternate Text" /></div>
                                    <div class="imgStyle"><img src="~/Image/1.jpg" alt="Alternate Text" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </fieldset>
</div>

@section styles{
    <style>
        *{
            margin : 0px;
            padding : 0px;
        }
        .header {
            width: 80%;
            height: 80px;
            margin: 0px auto;
            background-color: aquamarine;
        }
        .logo{
            width : 280px;
            height : 100%;
        }
        .imgStyle img{
            width: 800px;
            height: 450px;
        }
        .frame{
            position:absolute;
            left: 25%;
        }
        .frame2 {
            position: absolute;
            left: 66%;
        }
        .frame-bg{
            background-color: papayawhip;
            width: 100%;
            height: 420px;
        }
        .frame-bg2 {
            background-color: aqua;
            width: 100%;
            height: 190px;
        }
        .navigation{
            background-color: azure;
            width: 100%;
        }
        .login{
            position: absolute;
            width: 40px;
            height: 60px;
            left: 80%;
            top: 3%;
        }
        .register {
            position: absolute;
            width: 40px;
            height: 60px;
            left: 85%;
            top: 3%;
        }
        .notice {
            width: 755px;
            float: left;
            height: 300px;
            background-color: darkkhaki;
        }
        .moreNotice{
            position: absolute;
            left: 44%;
            top: 100%;
        }
        .footer {
            width: 755px;
            float: right;
            height: 300px;
            background-color: chartreuse;
        }
    </style>
}
<script>
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;

        //常规轮播
        carousel.render({
            elem: '#test1'
            , arrow: 'hover'
            , interval: 100   //间隔
            , height: '420px'
            , width: '800px'
        });

        //改变下时间间隔、动画类型、高度
        carousel.render({
            elem: '#test2'
            , arrow: 'hover'
            , interval: 100   //间隔
            , height: '190px'
            , width: '300px'
        });

        carousel.render({
            elem: '#test3'
            , arrow: 'hover'
            , interval: 100   //间隔
            , height: '190px'
            , width: '300px'
        });

        carousel.render({
            elem: '#test4'
            , arrow: 'hover'
            , interval: 100   //间隔
            , height: '190px'
            , width: '300px'
        });

        //设定各种参数


        var $ = layui.$, active = {
            set: function (othis) {
                var THIS = 'layui-bg-normal'
                    , key = othis.data('key')
                    , options = {};

                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };

        //监听开关
        form.on('switch(autoplay)', function () {
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function () {
            var value = this.value
                , options = {};
            if (!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.demoTest .layui-btn').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function () {
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项' + (Math.random() * 1000 | 0) //用于演示
                    , content: '内容' + (Math.random() * 1000 | 0)
                    , id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            , tabDelete: function (othis) {
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            , tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });
</script>